.dashboard-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: white;
  font-family: Poppins;
  padding: 0 20px 0 20px;
  color: #1a1a1a;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.dashboard-header a {
  text-decoration: none;
}

.dashboard-logo {
  flex: 1;
  align-items: center;
  align-self: center;
}

.hamburger {
  height: 50px;
  width: 50px;
  align-items: center;
  align-self: center;
  cursor: pointer;
}

.hamburger img {
  height: 100%;
  width: 100%;
}

.header-nav {
  display: flex;
  column-gap: 30px;
  margin-right: 50px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.abt-us-label {
  font-size: 16px;
  font-family: Poppins;
  margin: 0;
  padding: 5px 5px 0px 5px;
  font-weight: 500;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: font-weight 0.2s ease-in;
}

.abt-us-label:hover {
  font-family: Poppins;
  font-weight: 600;
}

.contact-btn {
  background-color: #3D5A40;
  border: #3D5A40 solid;
  padding: 10px;
  margin: 0;
  border-radius: 8px;
  text-align: center;
  color: white;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.contact-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
